spring:
  profiles: 
    active: local
  http:
    multipart:
      max-file-size: 100MB # 기본적인 maxSize (ax5ui uploader사용시에는 샘플 참고)
      max-request-size: 200MB
  cors: 
    allowedOrigins: http://localhost, http://127.0.0.1
  jmx: 
    enabled: false
  main:
    web-environment: true # Web 사용여부 설정
server:
  session:
    tracking-modes: COOKIE
    cookie:
      http-only: true
      secure: false
  port: 8080
  ssl:
    enabled: false
  error:
    whitelabel:
      enabled: false
  contextPath: 
  
# 멀티데이터 소스용 dependency 추가해야 함.(GSITM 내부 NEXUS)
base1:
  multi-datasource:
    basePackages: com.gbm.talkbot
    default-datasource-name: talkbot
    datasources:
      talkbot:
        platform: mysql
        driverClassName: org.mariadb.jdbc.Driver
        url: jdbc:mariadb://127.0.0.1:3307/gspb?allowMultiQueries=true
#        url: jdbc:mariadb://127.0.0.1:3306/gspb?allowMultiQueries=true
        username: gbmp_user
        password: gbmp1234!@
  fileupload: # 파일업로드
    location: d:\temp #업로드 폴더경로
    max-file-size: 100
    allowedExtensions: [hwp, doc, docx, ppt, pptx, xls, xlsx, jpg, jpeg, gif, bmp, png, txt, zip, pdf] #업로드허용 확장자
    storageAliasUri: /files
  logfile:
    location: c:\\talkbot
mybatis:
  config-location: classpath:sqlmap/sqlmap-config.xml
  mapper-locations: classpath:sqlmap/mapper/*.xml
  type-aliases-package: com.gbm.talkbot
jasypt: # 설정파일 암호화를 위한 jasypt
  encryptor:
    bean: jasyptStringEncryptor
logging:
   config: classpath:logback-spring.xml
#############################
# Scheduler, Thread 설정값
#############################
thread:
   server-no: 1
   file-loc: C:\GBMServer\
   msg-agent:
      bender: kt #uplus, kt
      kt:
         user-id: testid
   at-real:
      #알림톡 실시간 발송
      talkbot:
         count: 1000
         divide-range: 1000
         schl-period: 3000
   at-poll:
      #알림톡 대량 발송
      talkbot:
         count: 10000
         divide-range: 1000
         schl-period: 20000
      #알림톡 응답 결과 저장  
      res:
         schl-period: 10000
   ft-real:
      #친구톡 실시간 발송
      talkbot:
         count: 1000
         divide-range: 1000
         schl-period: 3000
   ft:
      #친구톡 대량 발송
      talkbot:
         count: 10000
         divide-range: 1000
         schl-period: 20000
      #친구톡 이미지 업로더
      uploder:
         count: 1000
         schl-period: 30000
   msg-real:
      #메시지 실시간 발송
      talkbot:
         count: 1000
         divide-range: 1000
         schl-period: 3000
   msg:
      #메시지 대량 발송
      talkbot:
         count: 10000
         divide-range: 1000
         schl-period: 20000
   center:
      #센터 프로필 동기화
      profile:
         schl-period: 0 0/10 * * * *
      #센터 템플릿 동기화
      template:
         schl-period: 0 0/10 * * * *
      #센터 카테고리 동기화
      cate:
         schl-period: 0 0 1 * * *
   log:
      #로그 이관
      move:
         count: 1000
         schl-period: 1000
      #로그 응답 결과 생신
      res:
         count: 10000
         schl-period: 10000

#############################
# KAKAO 비즈메시지 API 설정값
#############################
# 개발
kakao:
   hub-partner-key: 8604b070289a5e717d7654dbc5812c7259ab50a2 #개발
   api:
      scheme: https
      center:
         host: dev-bzm-center.kakao.com
         path: api
      bzm:
         host: dev-bzm-api.kakao.com
         time-out: 180
db:
  key:
    location: .
    fileName: sel_key_enc
    publicKey: ${publicKey}
tomcat:
  ajp:
    protocol: AJP/1.3
    port: 18009
    enabled: true 
---

spring:
  profiles: dev
  http:
    multipart:
      max-file-size: 100MB # 기본적인 maxSize (ax5ui uploader사용시에는 샘플 참고)
      max-request-size: 200MB
  cors: 
    allowedOrigins: http://localhost, http://127.0.0.1, http://117.52.66.65, http://172.30.15.21, http://172.30.15.22
  jmx: 
    enabled: false
  main:
    web-environment: false # Web 사용여부 설정
server:
  session:
    tracking-modes: COOKIE
    cookie:
      http-only: true
      secure: false
  port: 8080
  ssl:
    enabled: false
  error:
    whitelabel:
      enabled: false
  contextPath: 
  
# 멀티데이터 소스용 dependency 추가해야 함.(GSITM 내부 NEXUS)
base1:
  multi-datasource:
    basePackages: com.gbm.talkbot
    default-datasource-name: talkbot
    datasources:
      talkbot:
        platform: mysql
        driverClassName: org.mariadb.jdbc.Driver
        url: jdbc:mariadb://gsitm-bizmsg-dev-postgre-master.cricf5agbwwl.ap-northeast-2.rds.amazonaws.com:3306/gspb?allowMultiQueries=true
        username: gbmp_user
        password: gbmp1234!@
  fileupload: # 파일업로드
    location: /home/ec2-user/files/temp #업로드 폴더경로
    max-file-size: 100
    allowedExtensions: [hwp, doc, docx, ppt, pptx, xls, xlsx, jpg, jpeg, gif, bmp, png, txt, zip, pdf] #업로드허용 확장자
    storageAliasUri: /files
  logfile:
    location: /home/ec2-user/TJM_LOG
mybatis:
  config-location: classpath:sqlmap/sqlmap-config.xml
  mapper-locations: classpath:sqlmap/mapper/*.xml
  type-aliases-package: com.gbm.talkbot
jasypt: # 설정파일 암호화를 위한 jasypt
  encryptor:
    bean: jasyptStringEncryptor
logging:
   config: classpath:logback-spring.xml
#############################
# Scheduler, Thread 설정값
#############################
thread:
   server-no: 1
   file-loc: /home/ec2-user/files/images
   msg-agent:
      bender: kt #uplus, kt
      kt:
         user-id: monobiztest1
   at-real:
      #알림톡 실시간 발송
      talkbot:
         count: 1000
         divide-range: 1000
         schl-period: 3000
   at-poll:
      #알림톡 대량 발송
      talkbot:
         count: 10000
         divide-range: 1000
         schl-period: 20000
      #알림톡 응답 결과 저장  
      res:
         schl-period: 10000
   ft-real:
      #친구톡 실시간 발송
      talkbot:
         count: 1000
         divide-range: 1000
         schl-period: 3000
   ft:
      #친구톡 대량 발송
      talkbot:
         count: 10000
         divide-range: 1000
         schl-period: 20000
      #친구톡 이미지 업로더
      uploder:
         count: 1000
         schl-period: 30000
   msg-real:
      #메시지 실시간 발송
      talkbot:
         count: 1000
         divide-range: 1000
         schl-period: 3000
   msg:
      #메시지 대량 발송
      talkbot:
         count: 10000
         divide-range: 1000
         schl-period: 20000
   center:
      #센터 프로필 동기화
      profile:
         schl-period: 0 0/10 * * * *
      #센터 템플릿 동기화
      template:
         schl-period: 0 0/10 * * * *
      #센터 카테고리 동기화
      cate:
         schl-period: 0 0 12 * * *
   log:
      #로그 이관
      move:
         count: 1000
         schl-period: 1000
      #로그 응답 결과 생신
      res:
         count: 10000
         schl-period: 10000

#############################
# KAKAO 비즈메시지 API 설정값
#############################
# 개발
kakao:
   hub-partner-key: 8604b070289a5e717d7654dbc5812c7259ab50a2 #개발
   api:
      scheme: https
      center:
         host: dev-bzm-center.kakao.com
         path: api
      bzm:
         host: dev-bzm-api.kakao.com
         time-out: 180
db:
  key:
    location: .
    fileName: sel_key_enc
    publicKey: ${publicKey}
tomcat:
  ajp:
    protocol: AJP/1.3
    port: 18009
    enabled: true     
---

spring:
  profiles: prod
  http:
    multipart:
      max-file-size: 100MB # 기본적인 maxSize (ax5ui uploader사용시에는 샘플 참고)
      max-request-size: 200MB
  cors: 
    allowedOrigins: http://localhost, http://127.0.0.1, http://117.52.66.65, http://172.30.15.21, http://172.30.15.22
  jmx: 
    enabled: false
  main:
    web-environment: false # Web 사용여부 설정
server:
  session:
    tracking-modes: COOKIE
    cookie:
      http-only: true
      secure: false
  port: 9998
  ssl:
    enabled: false
  error:
    whitelabel:
      enabled: false
  contextPath: 
  
# 멀티데이터 소스용 dependency 추가해야 함.(GSITM 내부 NEXUS)
base1:
  multi-datasource:
    basePackages: com.gbm.talkbot
    default-datasource-name: talkbot
    datasources:
      talkbot:
        platform: mysql
        driverClassName: org.mariadb.jdbc.Driver
        url: jdbc:mariadb://172.30.15.23:43306/gbmp
        username: sys_gbmp
        password: gbmp1234!@
  fileupload: # 파일업로드
    location: d:\temp #업로드 폴더경로
    max-file-size: 100
    allowedExtensions: [hwp, doc, docx, ppt, pptx, xls, xlsx, jpg, jpeg, gif, bmp, png, txt, zip, pdf] #업로드허용 확장자
    storageAliasUri: /files
  logfile:
    location: /home/ec2-user/tjm_log
mybatis:
  config-location: classpath:sqlmap/sqlmap-config.xml
  mapper-locations: classpath:sqlmap/mapper/*.xml
  type-aliases-package: com.gbm.talkbot
jasypt: # 설정파일 암호화를 위한 jasypt
  encryptor:
    bean: jasyptStringEncryptor
logging:
   config: file:./config/logback-spring.xml    
#############################
# Scheduler, Thread 설정값
#############################
thread:
   server-no: 1
   file-loc: /GBMServer
   msg-agent:
      bender: kt #uplus, kt
      kt:
         user-id: monobiztest1
   at-real:
      #알림톡 실시간 발송
      talkbot:
         count: 1000
         divide-range: 1000
         schl-period: 3000
   at-poll:
      #알림톡 대량 발송
      talkbot:
         count: 10000
         divide-range: 1000
         schl-period: 20000
      #알림톡 응답 결과 저장  
      res:
         schl-period: 10000
   ft-real:
      #친구톡 실시간 발송
      talkbot:
         count: 1000
         divide-range: 1000
         schl-period: 3000
   ft:
      #친구톡 대량 발송
      talkbot:
         count: 10000
         divide-range: 1000
         schl-period: 20000
      #친구톡 이미지 업로더
      uploder:
         count: 1000
         schl-period: 30000
   msg-real:
      #메시지 실시간 발송
      talkbot:
         count: 1000
         divide-range: 1000
         schl-period: 3000
   msg:
      #메시지 대량 발송
      talkbot:
         count: 10000
         divide-range: 1000
         schl-period: 20000
   center:
      #센터 프로필 동기화
      profile:
         schl-period: 0 0/10 * * * *
      #센터 템플릿 동기화
      template:
         schl-period: 0 0/10 * * * *
      #센터 카테고리 동기화
      cate:
         schl-period: 0 0 12 * * *
   log:
      #로그 이관
      move:
         count: 1000
         schl-period: 1000
      #로그 응답 결과 생신
      res:
         count: 10000
         schl-period: 10000

#############################
# KAKAO 비즈메시지 API 설정값
#############################
# 운영
kakao:
   hub-partner-key: a494463a6fabb3c767bc4a1cc12010c8a8e1da0a #개발
   api:
      scheme: https
      center:
         host: bzm-center.kakao.com
         path: api
      bzm:
         host: bzm-api.kakao.com
         time-out: 180
db:
  key:
    location: .
    fileName: sel_key_enc
    publicKey: ${publicKey}
tomcat:
  ajp:
    protocol: AJP/1.3
    port: 18009
    enabled: true            